# Episode start date meta data field format to use for LTI
property.startDate.inputID=temporal
property.startDate.outputID=startDate
property.startDate.label=EVENTS.EVENTS.DETAILS.METADATA.START_DATE
property.startDate.type=start_date
property.startDate.readOnly=false
property.startDate.required=false
property.startDate.pattern=yyyy-MM-dd
property.startDate.order=9

# Episode start time meta data field format to use for LTI
property.startTime.inputID=temporal
property.startTime.outputID=startTime
property.startTime.label=EVENTS.EVENTS.DETAILS.METADATA.START_TIME
property.startTime.type=start_time
property.startTime.readOnly=false
property.startTime.required=false
property.startTime.pattern=HH:mm
property.startTime.order=10
