# Configuration for the Administrative User Interface

# Flavor subtype that identifies preview elements. Note that
# only recordings with preview elements may be edited with
# the video editor.
#
# The default workflows will produce and publish preview artifacts
# like 'presenter/preview', therefore 'preview' is the
# recommended default value.
#
preview.subtype=preview

# Flavor subtype that identifies waveform elements.
#
# The default workflow will produce and publish waveform artifacts
# like 'presenter/waveform', therefore 'waveform' is the
# recommended default value.
#
waveform.subtype=waveform

# Flavor that identifies the existence of a smil cutting file.
# Note that only recordings with such an element shows the
# cutting segments in the video editor.
#
# The default workflows will produce and archive cutting artifacts
# like 'smil/cutting', therefore 'smil/cutting' is the
# recommended default value.
# Has to be the same as <configuration key="target-smil-flavor">smil/cutting</configuration>
# within a Workflow editor operation.
#
smil.catalog.flavor=smil/cutting

# Tags which are set to the generated smil cutting catalog
# by the video editor.
#
# The default workflows will archive artifacts with the tag
# "archive", therefore "archive" is the recommended
# default value.
#
smil.catalog.tags=archive

# Flavor that identifies the existence of silence catalogs. Note that
# only recordings with such elements shows silence detection segments
# in the video editor.
#
# The default workflows will produce and archive silence artifacts
# like 'presenter/silence', therefore '*/silence' is the
# recommended default value.
#
smil.silence.flavor=*/silence

# Flavor that identifies the designated "presenter" stream, for use in the
# "Tracks" panel of the video editor.
#
# The default workflows use presenter/source, so that's the recommended default value.
#
sourcetrack.presenter.flavor=presenter/source

# Flavor that identifies the designated "presentation" stream, for use in the
# "Tracks" panel of the video editor.
#
# The default workflows use presentation/source, so that's the recommended default value.
#
sourcetrack.presentation.flavor=presentation/source

# Flavor subtype that identifies audio preview elements, for use in the
# "Tracks" panel of the video editor.
#
# The default workflows will produce and publish audio preview artifacts
# like 'presenter/audio+preview', therefore 'audio+preview' is the
# recommended default value.
#
preview.audio.subtype=audio+preview

# Flavor subtype that identifies video preview elements, for use in the
# "Tracks" panel of the video editor.
#
# The default workflows will produce and publish video preview artifacts
# like 'presenter/video+preview', therefore 'video+preview' is the
# recommended default value.
#
preview.video.subtype=video+preview
